/*=========IPHONE 6s PLUS MEDIA SCREEN============*/
@media only screen and (max-width: 414px) { 
body{
        background: #018ABE;
        background: linear-gradient(to bottom, #018ABE, #97CADB, #D6E8EE);
        height:100vh;
        width:100vw;
    }

    h1{
      position: absolute;
      top:150px;
      margin-left:75px;
      font-family: 'Quicksand', sans-serif;
      color: white;
      font-size:35pt;
    }
    
    .button1 {
      background-color: white;
      border-radius: 25px;
      width: 50vw;
      height: 50vh;
      border: none;
      font-size: 40pt;
      margin-left:125px;
      color: #018ABE;
      font-family: 'PT Sans Narrow', sans-serif;
      box-shadow: 0 6px #018ABE;
    }
    
    img {
        width: 40vw;
        top: 50%;
    }
    
    #left {
        transform: translateY(100%) translateX(-5%);
    }
    
    #right {
        transform: translateY(-40%) translateX(25%);
    }

#back_btn{
        position: absolute;
        bottom:10px;
        left:20px;
        border: none;
        background: none;
    }
    
#img_bac{
        height:10vw;
        width:12vw;
    }
    
    #bac {
        border: none;
        background: none;
    }
   
}

@media only screen and (max-width: 415px) {
    
    body{
        background: #018ABE;
        background: linear-gradient(to bottom, #018ABE, #97CADB, #D6E8EE);
        height:100vh;
        width:100vw;
    }
  
    #app{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        position: relative;
        top:0px;
    }

    h1{
      position: absolute;
      top:150px;
      margin-left:75px;
      font-family: 'Quicksand', sans-serif;
      color: white;
      font-size:35pt;
    }

    .button{
      top: 300px;
      position: relative;
    }
    
    .button1 {
      background-color: white;
      border-radius: 25px;
      width: 40vw;
      height: 10vh;
      border: none;
      font-size: 40pt;
      margin-left:125px;
      margin-top: 0px;
      color: #018ABE;
      font-family: 'PT Sans Narrow', sans-serif;
      box-shadow: 0 6px #018ABE;
    }
    
    img {
        width: 80vw;
        height: 45vh;
    }
    
    #left {
        transform: translateY(70%) translateX(-5%);
    }
    
    #right {
        transform: translateY(-30%) translateX(25%);
    }
   
}


/*=========IPAD PRO MEDIA SCREEN============*/
@media only screen and (min-width:415px) {
    
    body{
        background: #018ABE;
        background: linear-gradient(to bottom, #018ABE, #97CADB, #D6E8EE);
        height:100vh;
        width:100vw;
    }
    
    #app{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        position: relative;
        top:0px;
    }

    h1{
      position: absolute;
      top:250px;
      margin-left:245px;
      font-family: 'Quicksand', sans-serif;
      color: white;
      font-size:70pt;
    }

    .button{
      position: absolute;
      top: 550px;
        z-index: 99;
    }
    
    .button1 {
      background-color: white;
      border-radius: 45px;
      width: 30vw;
      height: 10vh;
      border: none;
      font-size: 70pt;
      margin-left:350px;
      margin-top: 0px;
      color: #018ABE;
      font-family: 'PT Sans Narrow', sans-serif;
      box-shadow: 0 12px #018ABE;
        
    }
    
    img {
        width: 80vw;
        height: 60vh;
    }
   
    #left {
        transform: translateY(50%) translateX(-5%);
    }
    
    #right {
        transform: translateY(-50%) translateX(25%);
    }
    
    #back_btn{
        display:flex;
        position: absolute;
        bottom:0px;
        left:45px;
        border: none;
        background: none;
    }
    
    #img_bac{
        height:10vh;
        width:10vw;
    }
    
    #bac {
        border: none;
        background: none;
    }
}
    
