/*=========IPHONE 6s PLUS MEDIA SCREEN============*/
@media only screen and (max-width: 414px) {
    
    body{
        background: #018ABE;
        background: linear-gradient(to bottom, #018ABE, #97CADB, #D6E8EE);
        height:100vh;
        width:100vw;
    }
    
    #next_cont{
        position: absolute;
        bottom:20px;
        right:0px;
    }

    #next{
        width: 30vw;
        height: 5vh;
        background-color: #ffffff;
        border-radius: 25px;
        margin: 5px;
        font-family: 'PT Sans Narrow', sans-serif, helvetica;
        font-weight: lighter;
        color: #018ABE;
        font-size: 20pt;
        border: none;
    }

    video{
        width: 100vw;
        height: 100vh;
    }
    
}


/*=========IPAD PRO MEDIA SCREEN============*/
@media only screen and (min-width:415px) {
    
    body{
        background: #018ABE;
        background: linear-gradient(to bottom, #018ABE, #97CADB, #D6E8EE);
        height:100vh;
        width:100vw;
    }
    
    #next_cont{
        position: absolute;
        bottom:30px;
        right:30px;
    }

    #next{
        width: 25vw;
        height: 6vh;
        background-color: #ffffff;
        border-radius: 35px;
        margin: 10px;
        font-family: 'PT Sans Narrow', sans-serif, helvetica;
        font-weight: lighter;
        color: #018ABE;
        font-size: 35pt;
        border: none;
    }
    
    video{
        width: 100vw;
        height: 100vh;
    }
    
}